<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"></directoryBrowse>
    <staticContent>
      <remove fileExtension="kml"/>
      <remove fileExtension="kmz"/>

      <mimeMap fileExtension="kml" mimeType="application/vnd.google-earth.kml+xml"/>
      <mimeMap fileExtension="kmz" mimeType="application/vnd.google-earth.kmz .kmz"/>
    </staticContent>
  </system.webServer>

</configuration>
